/*CSS STYLE*/

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

hr {
	color: #e7e7e7;
	margin: 20px 0;
}

.glava {
	height: 120px;
	width: auto;
}

.glava span {
	display: inline-block;
	position: absolute;
	top: 10px;
	line-height: 1.4em;
}

.glava img {
	height: 80%;
	width: 20%;
	margin: 10px;
	border: solid black;
}

.navZgoraj {
	display: block;
	border: 1px solid #e7e7e7;
	background-color: #f8f8f8;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.navZgoraj li {
	position: relative;
    display: inline-block;
}

.navZgoraj li a {
	position: relative;
    display: block;
    padding: 7px 15px;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.navZgoraj li a:hover {
	background-color: #eeeeee;
	color: #666;
}

.glava a {
	display: inline-block;
	padding: 10px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #bbb;
	box-shadow: 5px 5px 2.5px #888888;
}

.glava a:nth-child(1) {
	margin-right: 10px;
}

.glava .desno {
	display: inline;
	right: 20px;
	top: 20px;
	position: absolute;
}

.index {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;
}

.prijava {
	margin-left: 50px;
}

.prijavaDodatno {
	margin-left: 50px;
	line-height: 1.4em;
}

.prijavaDodatno .neki {
	font-weight: bold;
	font-size: 1em;
}

.prijavaDodatno a {
	font-size: 0.8em;
}

.registracija {
	margin-left: 50px;
}

.registracija p {
	font-size: 0.7em;
}

.form-group {
	margin-bottom: 15px;
}

.form-field {
	display: block;
	width: 250px;
	height: 20px;
	padding: 5px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

input[type="radio"] {
	margin: 4px 5px 5px;
	line-height: normal;
}

input[type="submit"] {
	display: inline-block;
	padding: 10px;
	border: 1px solid #e7e7e7;
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #eee;
}

.disabled {
	background-color: #eee;
	cursor: not-allowed;

}

.profil {
	margin: 15px;
}

.podatki {
	display: inline;
	margin-top: 20px;
}

.podatki img {
	height: 370px;
	width: 300px;
}

.podatki .neki {
	display: inline-block;
	position: absolute;
	margin-left: 20px;
	margin-top: 10px;
	line-height: 1.4em;
}

.profil .rezarvacije {
	display: inline-block;
	position: relative;
	float: right;	
	margin-right: 50px;
	width: 40%;
}

.hotel {

}

.hotel .galerija {
	margin-top: 20px;
	margin-bottom: 50px;
}

.hotel .galerija img {
	width: 100%;
	height: 400px;
	margin-top: 10px;
}

.hotel .slike {
	border: solid #000;
	display: inline-block;
	height: 520px;
	width: 45%;
}

.hotel .slike img {
	height: 150px;
	width: 150px;
	margin: 10px;
	display: inline;
}

.hotel .podrobnosti {
	border: solid #000;
	width: 45%;
	height: 400px;
	float: right;
	line-height: 1.4em;
}

.hotel .podrobnosti hr {
	margin: 5px 0;
}

.hotel .podrobnosti .levo {
	display: inline-block;
	width: 250px;
	text-align: justify;
	margin:10px;
	margin-right: 0;
}

.hotel .podrobnosti .desno {
	position: absolute;
	display: inline-block;
	width: 250px;
	margin: 10px;
	margin-left: 0;
}

.hotel .rezerviraj {
	display: inline-block;
	float: right;
	width: 45%;
	height: 90px;
	margin-top: -100px;
}

.hotel .rezerviraj a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 2em;
	padding: 10px;
	background-color: cornflowerblue;
	border-radius: 5px;
} 

.hotel .rezerviraj .kappa {
	font-size: 1em;
	margin-top: 2px;
	padding: 7px;
}

.iskanje form{
	padding: 0;
	margin: 0;
}

.iskanje input {
	font: inherit;
	border-radius: 0;
	border: none;
	box-shadow: 1px 1px 0.5px #888888;
}

.iskanje input[type="submit"] {
	vertical-align: bottom;
	display: inline;
	padding: 6px 10px;
	margin: 0;
	border-color: #ccc;
}

.tt-input:focus {
	outline: none;
}

.tt-dropdown-menu {
	width: calc(100% - 2px);
	border: 1px solid #e7e7e7;
	border-top: none;
}

.tt-suggestion {
	margin: 0;
	cursor: pointer;
}

.tt-suggestion p {
	margin: 0;
	padding: 5px;
}

.tt-suggestion:hover {
	background-color: #ddd;
}

.tt-hint {
	color: #bbb;
}